* {
  margin: 0;
  padding: 0;
}

body {
  background: darkgray;
  margin: 20px auto;
  font-family: "Lato";
  font-weight: 300;
}

form {
  padding: 15px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

form label {
  font-size: 1.5rem;
  font-weight: bold;
}

input {
  font-family: "Lato";
}

a {
  color: #0000ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
#wrapper-2{
  margin: 15px 25px;
}
#wrapper-3{
  display: inline-block;
  max-width: 250px;
  border: 1px solid #a7a7a7;
}
#menu{
  float: right;
  display: inline-block;
  text-align: left;
  padding: 10px;
  background: #fff;
  height: 390px;
  width: 650px;
  border: 1px solid #a7a7a7;
  overflow: auto;
  border-radius: 4px;
  border-bottom: 4px solid #a7a7a7;
}
#wrapper,
#loginform {
  margin:auto;
  padding-bottom: 25px;
  background: #eee;
  width: 1000px;
  max-width: 100%;
  border: 2px solid #212121;
  border-radius: 4px;
}

#loginform {
  padding-top: 18px;
  text-align: center;
}

#loginform p {
  padding: 15px 25px;
  font-size: 1.4rem;
  font-weight: bold;
}

#chatbox {
  text-align: left;
  margin: 15px;
  padding: 10px;
  background: #fff;
  height: 300px;
  width: 200px;
  border: 1px solid #a7a7a7;
  overflow: auto;
  border-radius: 4px;
  border-bottom: 4px solid #a7a7a7;
}

#usermsg {
  flex: 1;
  border-radius: 4px;
  border: 1px solid #a7a7a7;
}

#name {
  border-radius: 4px;
  border: 1px solid #a7a7a7;
  padding: 2px 8px;
}

#submitmsg,
#enter{
  background: #a7a7a7;
  border: 2px solid #787878;
  color: white;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 4px;
}

.error {
  color: #ff0000;
}

#title {
  padding: 15px 25px;
  display: flex;
}

#title p.welcome {
  flex: 1;
}

a#exit {
  color: white;
  background: #c62828;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}
.botchat{
  background: #c9f0d4;
}
.botmes{
  color: #3d3d3d;
}
.msgln {
  margin: 0 0 5px 0;
}

.msgln span.left-info {
  color: red;
}

.msgln p.chat-time {
  color: #666;
}

.user-name,b.user-name, .msgln b.user-name-left {
  font-weight: bold;
  background: #546e7a;
  color: white;
  padding: 2px 4px;
  font-size: 90%;
  border-radius: 5px;
  margin:5px 5px 5px;
}

.msgln b.user-name-left {
  background: orangered;
}
